{% include 'base.html' %}
{% block base %}

<br><br>
<p class="heading">. . . your personalized portfolio generating site</p>

<p class="p-about">
    AlxFolio is a dynamic portfolio generator tailored for developers. It seamlessly spins up personalized portfolios by fetching data directly from your GitHub profile. The portfolios are not only easy to create but highly customizable, allowing developers to showcase their skills, projects, and more. To get started, check out the GitHub repository at 
    <a href="https://github.com/dukeofhazardz/ALXFolio-Remaster" target="_blank">ALXFolio Repository</a>. If you find it helpful, don't forget to star the repository!
</p>
  
{% endblock %}
