{% include 'base.html' %}
{% block base %}
{% if data %}

<div class="user-port">
  <section class="profile-info">
    <img src="https://github.com/{{ data.login }}.png" class="img-port">
    <h3 class="p-name">{{ data.name }}</h3>
    {% if title %}
      <p class="title">{{ title }}</p>
    {% endif %}

    <section class="contact-info">
      {% if address %}
        <p class="address">{{ address }}</p>
      {% endif %}
      {% if twitter %}
        <a href="{{ twitter }}" target="_blank">Twitter</a>
      {% endif %}
      {% if linkedin %}
        <a href="{{ linkedin }}" target="_blank">LinkedIn</a>
      {% endif %}
      {% if instagram %}
        <a href="{{ instagram }}" target="_blank">Instagram</a>
      {% endif %}
    </section>

    {% if bio %}
      <section class="about-me">
        <h6>About me</h6>
        <p>{{ bio }}</p>
      </section>
    {% endif %}

    {% if whatido %}
      <section class="what-i-do">
        <h6>What I do</h6>
        <p>{{ whatido }}</p>
      </section>
    {% endif %}

    {% if education %}
      <section class="education">
        <h6>Education</h6>
        <p>{{ education.school }}</p>
        <p>{{ education.year }}</p>
        <p>{{ education.degree }}</p><br>
        </section>
    {% endif %}
  </section>

  <section class="activity-stats">
    <h3 class="a-stats">Activity Stats</h3>
      <div class="stats">
        <img src="https://github-readme-stats.vercel.app/api?username={{ data.login }}&theme=synthwave&show_icons=true&hide_border=false&include_all_commits=true&count_private=true" /><br/>
        <img src="https://github-readme-streak-stats.herokuapp.com/?user={{ data.login }}&theme=synthwave&show_icons=true&hide_border=false" />
      </div>
  </section>

  <section class="projects">
      <h3 class="git-pro"> Projects </h3>
      {% if repos %}
        <div class="repos">
          {% for repo in repos %}
            <div class="repo-box">
              <div class="r-name">
                <a class="repo-name" href="{{ repo.html_url }}" target="_blank">{{ repo.name }}</a>
              </div>
              {% if repo.description %}
                <div class="r-des">
                  <p class="repo-des">{{ repo.description }}</p>
                </div>
              {% else %}
                <div class="r-des">
                  <p class="repo-des">The {{ repo.name }} repository</p>
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
  </section>
</div>

{% endif %}
{% endblock %}
